/* Empty. Add your own CSS if you like */
input[type=range]{
  width: 90%;
}

.celsius, .fahrenheit {
  font-size: 3em !important;
  text-align: center;
}

input[type=number].celsius {
  height:60px;
  width: 2em;
}

input[type=number].fahrenheit {
  height:60px;
  width: 2em;
}

#map {
  height: 100%;
  width: 100%;
}

.mapbody {
  height: 300px;
  width: 100%;
}

.scroll {
  height: 100%;
}