/* Empty. Add your own CSS if you like */
input[type=range]{
  width: 90%;
}

.celsius, .fahrenheit {
  font-size: 3em !important;
  text-align: center;
}

input[type=number].celsius {
  height:60px;
  width: 2em;
}